{% extends 'index.jinja2' %}
{% block title %}Connect Interface{% endblock %}
{% block content %}
    <div class="text-light" style="padding-left: 45px; padding-top: 10px">
        <div>

        </div>
    </div>
{% endblock %}
