{% extends 'db_page.jinja2' %}
{% block title %}Connect Interface{% endblock %}
{% block content %}
    <div class="text-light" style="padding-left: 45px; padding-top: 10px; padding-right: 45px;">
        <div class="float-right col-9">
            <div class="d-flex flex-row">
                <label>
                    <textarea rows="5" cols="187.5" style="width: 100%" id="textarea"></textarea>
                </label>
            </div>
            <form method="post">
                <div class="d-flex flex-row btn-group">
                    <input class="btn btn-success" type="submit" name="select" value="SELECT" onclick="select()">
                    <input class="btn btn-success" type="submit" name="insert" value="INSERT">
                    <input class="btn btn-success" type="submit" name="update" value="UPDATE">
                    <input class="btn btn-success" type="submit" name="drop" value="DROP">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript"
         src="static/select.js"></script>
{% endblock %}
