{% extends 'db_page.jinja2' %}
{% block title %}Connect Interface{% endblock %}
{% block content %}
    <div class="text-light" style="padding-left: 45px; padding-top: 10px; padding-right: 45px;">
        <div class="float-right col-9">
            <div class="d-flex flex-row">
                <label>
                    <textarea rows="5" cols="187.5" style="width: 100%"></textarea>
                </label>
            </div>
            <div class="d-flex flex-row btn-group">
                <button class="btn btn-success">SELECT</button>
                <button class="btn btn-success">INSERT</button>
                <button class="btn btn-success">UPDATE</button>
                <button class="btn btn-success">DROP</button>
            </div>
        </div>
    </div>
{% endblock %}
