{% extends 'index.jinja2' %}
{% block title %}Register{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-light">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" minlength="2" maxlength="20" name="name_reg">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">password</span>
            <div class="input-group-append">

            </div>
            <input type="password" class="form-control" placeholder="Your Password" minlength="8" maxlength="100"
                   name="pass_reg">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">@example.com</span>
            <div class="input-group-append">
            </div>
            <input type="email" class="form-control" placeholder="Your Email" minlength="5" maxlength="50" name="email_reg">
        </div>
        <div class="input-group mb-3">
            <button class="btn btn-lg btn-success" type="submit">Send</button>
            <button class="btn btn-lg btn-danger" type="reset">Cancel</button>
        </div>
    </form>
{% endblock %}

