{% extends 'index.jinja2' %}
{% block title %}Account{% endblock %}
{% block content %}
    <div class="col-12 d-flex justify-content-center" style="padding-top: 50px">
        <a class="btn btn-lg btn-success" style="margin: 10px" href="{{ url_for ( 'login') }}">Login</a>
        <a class="btn btn-lg btn-success" style="margin: 10px" href="{{ url_for ('register') }}">Register</a>
        <a class="btn btn-lg btn-danger" style="margin: 10px" href="{{ url_for ('logout') }}">Logout</a>
    </div>
{% endblock %}
