{% extends 'index.jinja2' %}
{% block title %}Databases{% endblock %}
{% block content %}
    <div class="float-left" style="padding-left: 45px; padding-top: 10px">
        <form method="post">
            <a class="btn btn-lg btn-success" href="{{ url_for('connect') }}">Add Connect</a>
        </form>
        <br>
        <div class="text-light">
            {% for i in db %}
                <h4><a class="text-light" href="{{ url_for('connect_page') }}">{{ i[0] }}</a></h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}
