{% extends 'index.jinja2' %}
{% block title %}login{% endblock %}
{% block content %}
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your Email">
            <div class="input-group-append">
                <span class="input-group-text">@example.com</span>
            </div>
        </div>
    </form>
{% endblock %}
