{% extends 'db_page.jinja2' %}
{% block title %}Connect Interface{% endblock %}
{% block content %}
    <div class="text-light" style="padding-left: 45px; padding-top: 10px; padding-right: 45px;">
        <div class="float-right col-9">
            <div class="d-flex flex-row">
                <form method="post">
                    <input type="search" placeholder="search in db" class="col-12" name="search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
            <br>
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg_result_search in messages %}
                            <p class="text-light">{{ msg_result_search }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
